.body {
  background-color: rgb(39, 39, 39);
  height: 100vh;
}

@media (min-width: 900px) {
  .main_body {
    margin: auto;
  }
}

.header {
  font-weight: 900;
  font-size: 1.7rem;
  padding: 1.2rem 1rem 1.2rem 1rem;
  background-color: rgb(214, 214, 214);
}

.main_top {
  padding: 2rem 0rem 2rem 0rem;
}

.map {
  width: 90%;
  height: 35vh;
  margin: auto;
  box-shadow: 2px 2px 3px inset;
  border-radius: 1rem;
  background-color: rgb(214, 214, 214);
}

@media (min-width: 900px) {
  .map {
    width: 50%;
  }
}

.map_body {
  width: 90%;
  height: 90%;
  padding: 1rem 1rem 1rem 1rem;
}

.result_flame {
  width: 90%;
  margin: auto;
}

@media (min-width: 900px) {
  .result {
    width: 55%;
    margin: auto;
  }
}

.result {
  height: 40vh;
  display: grid;
  padding: 0rem 0.4rem 0rem 0.4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 3px inset;
  background-color: rgb(214, 214, 214);
}

.search_flame {
  margin: auto;
}

.date {
  font-weight: 900;
}

.time {
  font-weight: 900;
}
.unit {
  text-align: center;
}

.result_body {
  margin: auto;
  font-size: 5rem;
}
